@use "variables";

.jumbotron {
  background-color: var(--background-lighter);
  box-shadow: variables.$box-shadow;
  padding: variables.$padding-small;
  margin-bottom: variables.$margin-small;
}

@media (min-width: variables.$grid-breakpoint-sm) {
  .jumbotron-small {
    padding: variables.$padding-small;
  }
}
